*{
  margin: 0;
}
.app{
  background-color: #ebe9e9;
}
.app_posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app_header {
  background-color:white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;

}
.app_headerimage {
  object-fit: contain;
}
.app_form {
  display:flex;
  flex-direction: column;
 
}
h3{
  text-align: center ;
}